<div class = "flex-style">
<div class = "auth_form">
<div class = "logo">Double<%= icon('fas', 'user-friends') %>login</div>
<h2>社員ログイン</h2>
<%= flash.now[:notice] %>
<%= form_with model: @worker, url: worker_session_path, local: true do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "workers/shared/links" %>

</div>
</div>