
<div class = "flex-style">

<div class = "auth_form">

<div class = "logo"><%= image_tag "leasing_accel_logo.svg" %></div>
<h2>会社登録画面</h2>
<%= form_with model: @company, url: company_registration_path, local: true do |f| %>

<%= render "shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label :name, "会社名" %><br />
    <%= f.text_field :name, autofocus: true,placeholder: "\uf1ad  例:ダブル株式会社", class: 'fa in_logo', autocomplete: "name" %>
  </div>
  <div class="field">
    <%= f.label :email, "メールアドレス"  %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "\uf0e0  例:dble@gmail.com", class: 'fa in_logo',autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード"  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "\uf023 ", class: 'fa key', autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認用パスワード"  %><br />
    <%= f.password_field :password_confirmation,placeholder: "\uf023", class: 'fa key',autocomplete: "new-password" %>
  </div>


    <%= flash[:recaptcha_error] %>
    <%= recaptcha_tags %>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
<%= render "companies/shared/links" %>
</div>
</div>